{% extends 'base.html' %}
{% block primary_content %}
<br>
<div class="container" style="font-size: larger;">
    <h2 class="text-center">Обо мне</h2>
    <p>Привет!</p>
    <p>Меня зовут Эльмира Калимуллина. Я - детский и семейный фотограф. И я рада приветствовать Вас.</p>
    <p>На странице моего сайта, где Вы можете увидеть незабываемые моменты из жизни моих героев.</p>
    <p>У каждого из нас есть множество прекрасных мгновений, которые хочется оставить в памяти.</p>
    <p>Выбирая меня своим семейным фотографом Вы можете быть  уверены, что каждый значимый момент вашей жизни навсегда останется с вами.</p>
</div>
{% endblock primary_content %}