{% extends 'base.html' %}
{% block primary_content %}
<br>
<div class="container" style="font-size: large;">
    <h1>Контакты</h1>
    email: <a href="mailto:el.08@mail.ru">el.08@mail.ru</a><br>
    tel: <a href="tel:89274365331">+79274365331</a><br>
    WhatsApp: <a href="https://wa.me/89274365331">+79274365331</a><br>
    <div>
        <a href="https://vk.com/id43381367"><span style="font-size: 48px; color: black"><i class="fab fa-vk"></i></span></a>
        <a href="https://vk.com/id43381367"><span style="font-size: 48px; color: black"><i class="fab fa-instagram"></i></span></a>
    </div>
</div>
{% endblock primary_content %}